@import "../global.scss";
//TODO fix default font
*{
    @include regularFont;
}

    #mobile{
        display: flex;
        flex-direction: row;
    }


.header{
    @media screen and (min-width:767px){
    flex-direction: row;
    justify-content:space-between;
    }
    background-color: white;
    z-index: 99;
    position: fixed;
    width: 100%;
    // for all children
    > div{
        justify-content: center;
        // TODO delete this margin
        margin: 0 16px;
        // for some reason this only effects the search bar & logo
        justify-content:space-between;
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    &__logoImage{
        padding: 16px;
        >img{
            height:25px
        }
    }
    &__searchBar{
        @media screen and (min-width:768px){
            margin:12px;
            width:30vw;
        }
        //somehow only effects search bar border
        flex-grow: 1;
        >form{
            border: 2px $Mercury solid;
        }
        .searchBar__form{
            flex-grow: 1;
            border-radius: 5%;
            >input{
                border-radius: 5%;
                // padding:1rem;
                height:26px;
                width: auto;
                @include regularFont;
                background-color: $Alabaster;
                // border: 1 $Mercury solid;
                border: 0 solid;
            }
            ::placeholder{
                color: $BrainFlix-Black;
            }
            // magnifying glass image
            >img{
                // TODO fix search bar icon AFTER placement of elements and correct sizing
                padding:5px;
                position: absolute;
                height: 20px;
            }
        }
    }
    &__userImage{
        @media screen and (min-width:768px){
            margin:12px
        }
        // pfp image
        > img{
            object-fit: cover;
            height: 32px;
            width: 32px;
            border-radius: 50%;
        }
    }
    &__upload{
        .uploadForm{
            // upload image
            >img{
                // TODO delete
                position: absolute;
                margin:4px;
                @media screen and (min-width:768px){
                    margin:15px
                }
            }
            &__button{
                border: 0;
                border-radius: 3%;
                height: 32px;
                width: 100%;
                @include demiFont;
                background-color: $BrainFlix-Blue;
                color:white;
                margin-bottom: 16px;
                @media screen and (min-width:768px){
                    width:180px;
            margin:12px
                    
                }
            }
        }
    }
}

button:hover{
    background-color: $BrainFlix-DarkBlue;
}