// TODO delete this:
img{
    max-height: 100px;
}
$test : #FAF;
.test{
    background-color: $test;
    border: 5px solid yellowgreen;
}
// bottom of delete

// ! Mixins
// * Colors
// BrainFlix-Black is 1st(primary) text color
$BrainFlix-Black:#323232;
// video player components
$BrainFlix-DarkBlack:#000;
// call to action color
$BrainFlix-Blue: #0095FF;
// call to action hover color
$BrainFlix-DarkBlue: #0065AD;
// Silver is 2nd text color
//TODO White is call to action font color
$Silver: #AFAFAF;
// divider line color
$Mercury: #e1e1e1;
// Form Field background color
$Alabaster:#FAFAFA;
// * Fonts
// ? Font Sizes
@mixin PageHeader-Mobile{
    font-size: 24px;
    line-height: 32px;
    text-weight:700;
}
@mixin SectionHeader-Mobile{
    font-size: 12px;
    line-height: 20px;
    text-weight:700;
}
@mixin Subheader-Mobile{
    font-size: 13px;
    line-height: 18px;
    text-weight:700;
}
@mixin Body-Mobile{
    font-size: 13px;
    line-height: 18px;
    text-weight:400;
}
@mixin Form-Mobile{
    font-size: 10px;
    line-height: 20px;
    text-weight:700;
}
@mixin PageHeader-Desktop{
    font-size: 24px;
    line-height: 32px;
    text-weight:700;
}
@mixin SectionHeader-Desktop{
    font-size: 12px;
    line-height: 20px;
    text-weight:700;
}
@mixin Subheader-Desktop{
    font-size: 13px;
    line-height: 18px;
    text-weight:700;
}
@mixin Body-Desktop{
    font-size: 13px;
    line-height: 18px;
    text-weight:400;
}
@mixin Form-Desktop{
    font-size: 10px;
    line-height: 20px;
    text-weight:700;
}
// ? Font typeface


// ! bottom of mixins

#mobile{
    display: flex;
    flex-direction: row;
}

.header{
    // for all children
    > div{
        border: 1px solid black;
        justify-content: center;
        // TODO delete this margin
        margin:1rem 0;
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    &__logoImage{
        padding: 16px;
        >img{

            height:16px
        }
        
    }
    &__searchBar{
        .searchBar__form{
            >img{
                // TODO fix search bar icon AFTER placement of elements and correct sizing
                padding:5px;
                position: absolute;
                height: 12px;
            }

        }
    }
    &__userImage{
        > img{
            object-fit: cover;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            // padding-left: 15px;
        }
    }
    &__upload{
        .uploadForm{
            >img{
                // TODO delete
                background-color: red;
            }
            &__button{
                background-color: aquamarine;
            }
        }

    }
    //for mobile: searchBar and pfp are on same line
    &__userImage,&__searchBar{
    }
}
.header:nth-child(1),.header:nth-child(2){
    // flex-direction: row;
}
